{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/brand-colors/2.1.1/css/brand-colors.latest.css" integrity="sha512-GDiM7xsGLpFeRWhf91HfNwek+XDEpjeGALjZkKwpQANIsFi1aSbr7CVaB8gv9zDjlxgYMVHQDcjSYj0Zf7CNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bf-solid/2.11.2/solid.latest.css" integrity="sha512-Uz9vh9hSBAOufpkxx9WRqyxnNpMUO89y0M8estXD+nzh8QOFBuEU/WDZYLnDnWssD9uO5fuV2RcSWk9nItuc9g==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'recipe/css/styles.css'%}">
<link rel="stylesheet" href="{% static 'global/css/global-style.css'%}">


    





